@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400&display=swap');


@font-face {
  font-family: "CloisterBlack";
  src: url("@/fonts/CloisterBlack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


